<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" >
    {% load static %}
    <link rel="stylesheet" href="utilities.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <link rel="stylesheet" type="text/css" href="https:slick/slick.css"/>

<link rel="stylesheet" type="text/css" href="https:slick/slick-theme.css"/>
				
  
    <title>Document</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&display=swap"
     rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">

<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
 rel="stylesheet">

 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&display=swap"
 rel="stylesheet">

 <img src ="{% static 'twitter-svgrepo-com.svg' %}">
</head>
{% block body %}
<body>
    <header>
        <div class="container">

        <nav class="flex items-center justify-between">

        

        <div class="left flex items-center">

        <div class="brand"><img src="{% static 'Gmail_Icon_(2013-2020).png' %}" width="40px"></div>
     
            <a href="#home" class="" id="">home</a>
            <a href="#about" class="" id="">about</a>
            <a href="#services" class="" id="">services</a>
            <a href="#work" class="" id="">Work</a>
            <a href="#blog" class="" id="">blog</a>
        </div>
        <div class="right">
            <button class="btn btn-primary"> contact</button>
        </div>
  

</nav>
<div class=" hero flex items-center justify-between">
<div class="left flex-1 flex justify-center">
    <img src="{% static 'man.png' %}" width="400" alt="">
</div>
<div class="right flex-1 ">

    <h6> Manoj Sharma</h6>
    <h1>I am a Web <span> Developer</span> </h1>
    <p> get your ideas came into exsitence</p>
        <div>
            <button class=" but  btn btn-secondary" >DOWNLOAD CV</button>
        </div>
</div>
</div>

    </header>
    <section id="about" class="about">
        <div class="container flex items-center  ">
        <div class="flex-1">
            <img  class="about-me" src="{% static 'man-2.png' %}" alt="">
        </div>
        <div class="flex-1">
            <h1> About <span> ME</span></h1>
            <h3> hello i am manoj </h3>
            <p> i am a web Developer and <span> Designer</span>
                Lorem ipsum dolor sit, amet consectetur adipisicing el
                it. Recusandae, quibusdam.

            </p>
                <div class="social">
                    <a href="#" ><img src="{% static 'html-website-svgrepo-com.svg' %}"width="20px" alt=""></a>
                    <a href="#" ><img src="{% static 'instagram-svgrepo-com.svg' %}"width="20px"  alt="www.google.com"></a>
                    <a href="#" ><img src="{% static 'facebook-svgrepo-com.svg' %}"width="20px"></a>
                    <a href="#" ><img src="{% static 'pinterest-svgrepo-com.svg' %}" width="20px"></a>
                    <a href="#" ><img src="{% static 'twitter-svgrepo-com.svg' %}" width="20px"></a>
                </div>
        </div>

    </div>
    </section>
   <section id="services" class="services">
       <div class="container  ">
           <h1 class="section-heading  "><span>our</span> services</h1>
           <p> Lorem ipsum dolor sit amet consecteg elit. Vero, iure!</p>
           <div class="card-wrapper">
          <div class="card">
               <img src="{% static 'paint-brush-svgrepo-com.svg' %}" alt="" width="70px"> 
               <h2>graphic design</h2>
               <p> By applying visual hierarchy and page layout techniques, designers use typography and pictures to meet users' specific 
                   needs and focus on the logic of displaying elements in interactive designs, to optimize the user experience.</p>
           </div>
           <div class="card">
            <img src="{% static 'pc-board-graphics-card-svgrepo-com.svg' %}" alt="" width="70px"> 
            <h2>Motion Graphics</h2>
            <p>making the relationship between movement and design elements easier to understand. 
                ... But bringing design elements to life isn't a simple task</p>
        </div>

        <div class="card">
            <img src="{% static 'web-design-svgrepo-com.svg' %}" alt="" width="70px"> 
            <h2>graphic design</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod, quam.</p>
        </div>

        <div class="card">
            <img src="{% static 'html-website-svgrepo-com.svg' %}" alt="" width="70px"> 
            <h2>Web design</h2>
            <p>What is the web design?
                Image result for web design
                Web design is the field that involves digital interfaces such as websites, apps, and services. By using HTML cod
                e to program websites and CSS to standardize its visual language</p>
        </div>
     <div class="card">
            <img src="{% static 'coding-html-svgrepo-com.svg' %}" alt="" width="70px"> 
            <h2>Web development</h2>
            <p> the tasks associated with creating, building, and maintaining websites and web applications that run online on a browser
                . It may, however, also include web design, web programming, and database management.</p>
        </div>
   
        <div class="card">
            <img src="{% static 'apps-app-svgrepo-com.svg' %}" alt="" width="70px"> 
            <h2>Apps</h2>
            <p>Mobile applications are designed and built for different operating systems and developers 
                will want to learn how to build for both the Android operating system and Apple's iOS.</p>
        </div>
        </div>

       </div>
   </section>
   <section class="freelancer">
       <h1>hi i am available for freelancing</h1>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, error.</p>
       <button class="btn primary btn-primary">Download cv</button>
   </section>
   <section class="reviews">
       <div class="container">
           <h1 class="section-heading"><span>Our</span>Client</h1>
           <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit, ex.</p>

           <div class="slide">

           <div class="slider">
               <img src="{% static 'lady.png' %}" alt="">
               <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligend
                   i, impedit! Lorem ipsum dolor sit amet consectetur a
                   dipisicing elit. Alias, iure?</p>
                   <span> DEv sharma company ABC</span>
           </div>

           <div class="slider">
            <img src="{% static 'lady.png' %}" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligend
                i, impedit! Lorem ipsum dolor sit amet consectetur a
                dipisicing elit. Alias, iure?</p>
                <span> DEv sharma company ABC</span>
        </div>

        <div class="slider">
            <img src="{% static 'lady.png' %}" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligend
                i, impedit! Lorem ipsum dolor sit amet consectetur a
                dipisicing elit. Alias, iure?</p>
                <span> DEv sharma company ABC</span>
        </div>

        <div class="slider">
            <img src="{% static 'lady.png' %}" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eligend
                i, impedit! Lorem ipsum dolor sit amet consectetur a
                dipisicing elit. Alias, iure?</p>
                <span> DEv sharma company ABC</span>
        </div>
    </div>
    <div class="slider-dot">

    </div>
       </div>

   </section>
<section id="work" class="work">
<div class="container">
    <h1 class="heading1"><span>Our</span> Work</h1>
    <p>Lorem ipsum dolor sit amet.</p>
<div class="card-wrappe">
<div class="card">
<div class="overlay">
    <span> Category</span>
    <a href="#" >Web Development</a>
</div>

    <img src="{% static 'ph-1.png' %}" >
</div>

<div class="card">
    <div class="overlay">
        <span> Category</span>
        <a href="#" >Web Development</a>
    </div>
    
    <img src="{% static 'ph-1.png' %}" >
</div>

<div class="card">
    <div class="overlay">
        <span> Category</span>
        <a href="#" >Web Development</a>
    </div>
    
    <img src="{% static 'ph-1.png' %}" >
</div>

<div class="card">
    <div class="overlay">
        <span> Category</span>
        <a href="#" >Web Development</a>
    </div>
    
    <img src="{% static 'ph-1.png' %}" >
</div>

<div class="card">
    <div class="overlay">
        <span> Category</span>
        <a href="#" >Web Development</a>
    </div>
    
    <img src="{% static 'ph-1.png' %}" >
</div>

<div class="card">
    <div class="overlay">
        <span> Category</span>
        <a href="#" >Web Development</a>
    </div>
    
    <img src="{% static 'ph-1.png' %}" >
</div>

</div>
</div>
</section>
<section id="blog" class="blog">
    <div class="container">
        <h1 class="section-heading"><span> Our</span>Blog</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Non, nobis.</p>
        <div class="card-wrapper">

            <div class="card">
                {% load static %}
                <div class="img"><img src="{% static 'article-ph-1.png' %}"alt="">
                </div>
           
            <div class="card-content">
                <a href="#" ><h1>Lorem, ipsum dolor.</h1></a>
                <span>date</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, eos?</p>
               <a href="#" class="readmore">Read More</a>
            </div>
            </div>
            <div class="card">
                {% load static %}
                <div class="img"><img src="{% static 'article-ph-1.png ' %}"  alt="">
                </div>
           
            <div class="card-content">
                <a href="#" ><h1>Lorem, ipsum dolor.</h1></a>
                <span>date</span>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, amet?</p>
               <a href="#"class="readmore">Read More</a>
            </div>
            </div>
            <div class="card">
                <div class="img"><img src="{% static 'article-ph-1.png' %}"  alt="">
                </div>
           
            <div class="card-content">
                <a href="#" ><h1>Lorem, ipsum dolor.</h1></a>
                <span>date</span>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus, temporibus.</p>
               <a href="#"class="readmore">Read More</a>
            </div>
            </div>
            
        </div>
    </div>
</section>
<section class="contact transition">
    <div class="container">
        <h1 class="section-heading"> Contact <span> us  </span>  </h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, voluptate?</p>
        <div class="card-wrapper">
            <div class="card">
                <img src="{% static 'phone-svgrepo-com.svg' %}" alt=""width="200px">
                <h1>contact us on</h1>
                <h6> 9090942512</h6>
            </div>
            <div class="card">
                <img src="{% static 'email-svgrepo-com.svg' %}"  alt="" width="200px">
                <h1>Email us at</h1>
                <h6> devshandilaya1@gmail.com</h6>
            </div>
            <div class="card">
                <img src="{% static 'map-svgrepo-com.svg' %}" alt="" width="200px">
                <h1>metus at</h1>
                <h6> gkfgn</h6>
            </div>
        </div>
<form action="" class="form" method = "post">
    {% csrf_token %}
    <div class="input-wrap">
        <input type="text " placeholder="Your Name *" name="name">
        <input type="email  " placeholder="Your email*" name ="email">
    </div>
    <div class="input-wrap2">
        <input type="text" placeholder="Your subject" name="sub">
        <textarea name="message" id="" cols="30" rows="10" placeholder="your message" ></textarea>
    
    </div>
    <div class="btn-wrapper">
        <button class="btn btn-primary">Submit</button>
    </div>
</form>
    </div>
</section>
<footer>
    <img class="footer-logo" src="logo-2.svg" alt="">
    <div class="footer-socials">
       <a href=" #"><img src="{% static 'html-website-svgrepo-com.svg' %}" alt="" width="35px"> </a>
       <a href="#"><img src="{% static 'facebook-svgrepo-com.svg' %}" alt=""width="35px"></a>
       <a href="#"> <img src="{% static 'twitter-svgrepo-com.svg' %}" alt="" width="35px"></a>
       <a href="#"><img src="{% static 'instagram-svgrepo-com.svg' %}" alt="" width="35px"></a>
       <a href="#"><img src="{% static 'pinterest-svgrepo-com.svg' %}" alt="" width="35px"></a>
    </div>
<div class="copyright">
    @copyright all Right and  Reaserved 2021-2022
</div>
</footer>



    {% load static %}
   <script type="text/javascript" src="{% static 'https://code.jquery.com/jquery-1.11.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'https://code.jquery.com/jquery-migrate-1.2.1.min.js' %}"></script>
<script type="text/javascript" src=" {% static 'https://cdn.jsdelivr.net/npm/slick-carousel-latest@1.9.0/slick/slick.min.js' %}"></script>
			<script src="app.js"></script>	
				

</body>
{% endblock body %}
</html>